.HomeProfileName {
  font-size: 150%;
  margin-left: 3px;
}

.HomeProfileImg {
	border-radius: 8px;
}

.HomeNavImg {
	border-radius: 5px;
	margin-right: 2px;
}

.CreatePostButton {
	margin-top: 10px;
}

#CreatePostTextarea {
	height: 25%;
}

.PostBox {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #e6e6e6;
	background: #fbfbfb;

}

.PostTitle {
	font-size: 125%;
	margin-left: 10px;
	margin-top: 10px;
	display:inline-block;
}

.PostBody {
	font-size: 100%;
	margin: 10px;
}

.PostDate {
	font-size: 85%;
	margin-left: 10px;
	display:inline-block
}

.PostDelete {
	font-size: 100%;	
	text-align: right;
	margin-top: -35px;
}

.card {
  background:#fbfbfb;
  border:1px solid #e6e6e6;
  border-bottom:1px solid #BBB;
  border-radius: 8px;
  float:left;
  width:260px;  
  height:250px;
  margin-right: 25px;
  margin-bottom: 25px;
  overflow: hidden;
}

.cardImg {
	border-radius: 8px;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.cardName {
	font-size: 150%;
	text-align: center;
}

.cardDetail {
	font-size: 110%;
	margin-top: 15px;
  text-align: center;
}